<div class="wrapper">
<div class="block">
    <mat-card>
      <h1>LOGIN</h1>
  <form [formGroup]="login">

     <input class="Input" type="text" placeholder="Enter EmailID" formControlName="email"/>
     <input class="Input" type="text" placeholder="Enter Password" formControlName="password"/>
    <div class="btns">
      <button (click)="loginSubmit(login.value)" [disabled]="login.invalid">Login</button>
      <button (click)="gotoSignup()">Sign-UP</button>
    </div>

  </form>


</mat-card>
</div>
  </div>