.content-body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(17, 66, 99));
    display: block;
    text-align: center;
    color: rgb(6, 109, 109);
    font-size: larger;
    font-weight: bolder;
}
